@page "/ticket/create"
@using IT.Service.Management.UI.Client.Components
@using IT.Service.Management.UI.Client.Components.Forms
@using IT.Service.Management.UI.Client.Services
@using IT.Service.Management.UI.Shared.Clients
@using IT.Service.Management.UI.Shared.Models
@using IT.Service.Management.UI.Shared.Services
@inject IClientTicketService ClientTicketService
@inject INotificationService NotificationService
@inject NavigationManager NavigationManager

<BreadcrumbComponent Ticket="ticket" />
<PageTitle>Create Ticket - @ticket.Title</PageTitle>

<h1>Create Ticket</h1>
<br />

<TicketFormComponent ticket="@ticket" OnValidSubmit="@CreateTicket" SubmitButtonText="Create"></TicketFormComponent>

@code {
    Ticket ticket = new Ticket();

    private async Task CreateTicket()
    {
        var request = new CreateTicketRequest
        {
            Title = ticket.Title,
            Description = ticket.Description,
        };

        await ClientTicketService.AddTicket(request);

        NotificationService.Success($"Ticket '{ticket.Title}' successfully created", true, false);

        NavigationManager.NavigateTo("/");
    }
}