@page "/ticket/update/{id:guid}"
@using IT.Service.Management.UI.Client.Components
@using IT.Service.Management.UI.Client.Components.Forms
@using IT.Service.Management.UI.Client.Services
@using IT.Service.Management.UI.Shared.Clients
@using IT.Service.Management.UI.Shared.Models
@inject IClientTicketService ClientTicketService
@inject NavigationManager NavigationManager

<BreadcrumbComponent Ticket="ticket" />
<PageTitle>Edit Ticket - @ticket.Title</PageTitle>

<h1>Update Ticket</h1>
<br />

<TicketFormComponent ticket="@ticket" OnValidSubmit="@UpdateTicket" SubmitButtonText="Update"></TicketFormComponent>

@code {

    [Parameter]
    public Guid Id { get; set; }

    Ticket ticket = new Ticket();

    protected async override Task OnParametersSetAsync()
    {
        ticket = await ClientTicketService.GetTicketAsync(Id);
    }

    private async Task UpdateTicket()
    {
        var request = new UpdateTicketRequest
        {
            Id = ticket.Id,
            Title = ticket.Title,
            Description = ticket.Description,
        };

        await ClientTicketService.UpdateTicket(request);

        NavigationManager.NavigateTo("/");
    }
}